:root {
    --container: #D2C3CA;
    --playButton:#722A5D;
    --previous:#A25270;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
  }
  
  .player {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .track-art {
    width: 100%;
    height: 300px;
    background-color: #f3f3f3;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .track-name, .track-artist {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .slider_container {
    margin: 20px 0;
  }
  
  .track-time {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }
  
  .seek-slider input {
    width: 100%;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttons i {
    margin: 0 20px;
    cursor: pointer;
  }
  
  .explore {
    margin-top: 50px;
  }
  
  .explore h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  .search input {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  
  .search-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  